body {
    background-color: #111421!important;
}

.titre-du-film {
    color: #BB1533;
}

.img-resume{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
    background-color: #C4C4C4;
   display: flex;
}

.img-film{
    width:100%;
}

.texte-info {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 120px;
    font-size: 24px;
}

.duree-synop {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 70px;
    font-size: 24px;
}

.synop {
    background-color: #C4C4C4;
}

.texte-synop {
    margin-left: 56px;
    color: #FFFFFF;
}

.bloc-acteurs {
    background-color: #C4C4C4;
    margin-top: 20px;
}

.titre-acteur {
    margin-top: 20px;
}

.liste-acteurs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    background-color: #C4C4C4;
    padding-bottom:10px;
    margin-top: 20px;
}

.acteur{
    width:10%;
    margin:20px;
    color:black;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size:10px;
    text-align: center;
    position: relative;

}

.acteur img{
    width: 90px;
    height: 130px;
    
}

.real-ba {
    display: flex;
}

.bloc-real {
    background-color: #111421;
}

.titre-real {
    color: #BB1533;
}

.real{
    display: flex;
    margin-right:auto;
    margin-left:auto;
    width:90%;
    justify-content: space-between; 
    text-align: justify;

}

.img-real{
    width:30%;
    font-size:15px;
    text-align: center;
    margin-bottom:70px;
    margin-left: 6%;
}

.img-real >img{
    width:120px;
}

.img-real > div{
    font-size:13px;
    text-align: center;
    margin:6px;
    color: #FFFFFF;
}

.text-real{
    width:40%;
    justify-content: center;
    margin-right: 10%;
    margin-top: 4%;
    color: #FFFFFF;
}

.bande-annonce{
    text-align: center;
    margin-right: 20px;
    margin-bottom: 40px;
}

@media only screen and (min-width:1000px){
    .img-resume{
        display:flex;
    }

    .img-film{
        width:80%;
    }

.information{
    width:40%; 
    text-align: justify;
    font-weight:100;
    margin-bottom:auto;
 

}



.info-title {
    font-size:40px;
 
}

.titre-acteur {
    font-size:40px;
}

.liste-acteurs{
    justify-content: space-evenly;
}

.acteur{
    width:12%;
    transition: .3s ease;
    
}

.acteur:hover{
    transform:scale(1.1);
    transition: .3s ease;

}

.acteur img{
    transition: .5s ease;
    border-radius:10px;
}

.acteur img:hover{
    transform: scale(1.1);
    transform: translateY(-5px);
    cursor:pointer;
    transition: .5s ease;
}

.real-ba{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    padding-bottom:40px;
}


.real{
    width:50%;
    justify-content: center;
}

.bande-annonce {
    width: 50%;
}

iframe{
    border-radius: 25px;
}

.text-real{
    width:50%;
    margin-top:auto;
    margin-bottom:auto;
    font-size:20px;
    font-weight:100;
    }
    
    .img-real{
        width:50%;
        margin-top:auto;
    margin-bottom:auto;
    transition: .3s ease;
    }
    
    .img-real img:hover{
        transform: scale(1.1);
        transform: translateY(-5px);
        cursor:pointer;
        transition: .5s ease;
    }
    
    .img-real img{
        transition: .5s ease;
        border-radius:10px;
    }
    
    .img-real:hover{
        transform:scale(1.1);
        transition: .3s ease;
    }
}

@media only screen and (min-width:1900px){*
    
    .information {
        font-size:40px;
        text-align:left;
    }

    .texte-synop{
        margin-left: 20px;
    }

    .acteur{
        font-size:20px;
    }
    
    .acteur img{
    width:150px;
    }
    
    .img-real{
        font-size:25px;
    }
    
    .img-real > img{
        width:150px;
    }
    .img-real > div{
        font-size:20px;
    }

}