body {
    background-color: #111421!important;
}

.titre-du-film {
    color: #BB1533;
}

.img-resume{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
    background-color: #C4C4C4;
   display: flex;
}

.img-film{
    width:100%;
}

.card {
    background-color: #C4C4C4!important;
}

.texte-info {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 120px;
    font-size: 24px;
}

.duree-synop {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 70px;
    font-size: 24px;
}

.synop {
    margin-top: 10px;
    background-color: #C4C4C4;
}

.texte-synop {
    margin-left: 90px;
    color: #FFFFFF;
}

.bloc-acteurs {
    background-color: #C4C4C4;
    margin-top: 20px;
}

.titre-acteur {
    margin-top: 20px;
}

.liste-acteurs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    background-color: #C4C4C4;
    padding-bottom:10px;
    margin-top: 20px;
}

.acteur{
    width:10%;
    margin:20px;
    color:black;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size:10px;
    text-align: center;
    position: relative;

}

.acteur img{
    width: 90px;
    height: 130px;
    
}

.real-ba {
    display: flex;
}

.bloc-real {
    background-color: #111421;
}

.titre-real {
    color: #BB1533;
}

.real{
    display: flex;
    margin-right:auto;
    margin-left:auto;
    width:90%;
    justify-content: space-between; 
    text-align: justify;

}

.img-real{
    width:30%;
    font-size:15px;
    text-align: center;
    margin-bottom:70px;
    margin-left: 6%;
}

.img-real >img{
    width:120px;
}

.img-real > div{
    font-size:13px;
    text-align: center;
    margin:6px;
    color: #FFFFFF;
}

.text-real{
    width:40%;
    justify-content: center;
    margin-right: 10%;
    margin-top: 4%;
    color: #FFFFFF;
}

.bande-annonce{
    text-align: center;
    margin-right: 20px;
    margin-bottom: 40px;
}



@media only screen and (min-width: 300px) and (max-width:640px) {
    .img-film {
        margin-top: 20%;
        position: absolute;
    }
    
    .texte-info {
        margin-top: 100%;
        margin-left: 20px;
        width: 80%;
    }
    
    .duree-synop {
        margin-left: 20px;
        width: 80%;
    }

    .texte-synop {
        margin-left: 6px;
    }
    
    .liste-acteurs {
        display: inline;
    }

    .acteur img {
        margin-left: 290%;
    }

    .acteur div {
        margin-left: 380%;
    }
    
    .real-ba {
        display: inline;
    }

    .real {
        margin-left: 0px;
    }

    .img-real {
        margin-left: 4%;
    }

    .text-real {
        margin-top: 0%;
        margin-right: 10%;
    }

    .bande-annonce {
        width: 10%;
    }
}

