body {
    margin: 0;
    padding: 0;
}

.affiche {
    background-color: #111421;
    height:390px;
    margin-bottom: 10%;
}

.image-affiche {
    margin-right: 20%!important;
    width: 168px!important;
}

.titre-affiche {
    margin-bottom: 2%;
    color: #BAB6B6;
}


.card{
    background-color: #111421!important;
    margin-bottom: 10%;
}

.card-body {
    margin-top: 7%;
    color: #BAB6B6;
}

.forfaits {
    background-color: #111421;
    height: 350px;
}

.titre-forfaits {
    color: #BAB6B6;
    margin-top: 10%;
}

.choix-forfait {
    background-color: #BB1533!important;
    width: 40%;
    margin-left: 30%;
}

.forfait1, .forfait2 {
    background-color: #FFFFFF;
    padding: 2%;
    margin-top: -2%;
    width: 40%;
    margin-left: 30%
    
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .image-affiche {
        margin-right: 18px!important;
    }

    .actu {
        display: flex;
    }

    .texte-actu {
        margin-top: 4%;
        margin-right: 20%;
    }
}

@media only screen and (min-width: 300px) and (max-width:640px) {
    .affiche {
        height: 860px;
    }

    .image-affiche {
        margin-left: 20%;
    }

    .actu {
        display: flex;
    }

    .texte-actu {
        margin-top: 4%;
        margin-right: 20%;
    }

    .image-actu {
        width: px!important;
    }
    
    
    .forfaits {
        display: flex;
        flex-direction: column;
    }

    .choix-forfait {
        width: 80%;
        margin-left: 10%;
    }

    .forfait1, .forfait2 {
        width: 80%;
        margin-left: 10%;
    }
}
