.formu-inscription {
    background-color: rgba(0, 0, 0, 0.733);
    padding: 5%;
}

input::-webkit-input-placeholder {
    color: #BAB6B6!important;
}

label {
    color: #FFFFFF;
}

.custom-select{
    margin-bottom: 8%;
    margin-left: -2%;
}

.reponse {
    margin-left: -2%;
}

.form-group2 {
    margin-bottom: 4%;
}

.couleur-bouton2 {
    color: #BAB6B6!important;
}

.bouton2 {
    margin-top: 4%;
}

.btn:hover {
    background-color: rgb(22, 58, 124)!important;
}

